<article class="post">
  <div class="title">
     <a>{{title}}</a>
     <div>
         <article>{{post_content}}</article>
     </div>
  </div>
  <div class="meta">
    Submitted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>